.box {
  background: white;
  border-radius: 6px;
  border: 1px solid #dce6f2;
  box-shadow: 0 1px 2px rgba(10,10,10,0.03);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 48px;
  user-select: none;
}

.header {
  padding: 6px 8px;
  font-weight: 600;
  font-size: 13px;
  border-bottom: 1px solid #f1f5fa;
}

.body {
  padding: 8px;
  font-size: 12px;
  color: #333;
}